# Sprint 5
## Tasca M5 T02

Allison Garces Castaño

In [78]:
import numpy as np
import pandas as pd
import sklearn as skl

### Información sobre atributos:

1. CRIM: tasa de delincuencia per cápita por ciudad
2. ZN: proporción de suelo residencial zonificado para lotes de más de 25.000 pies cuadrados
3. INDUS: proporción de acres comerciales no minoristas por ciudad
4. CHAS: Variable ficticia de Charles River (= 1 si la zona linda con el río; 0 en caso contrario) río; 0 en caso contrario)
5. NOX concentración de óxidos nítricos (partes por 10 millones)
6. RM número medio de habitaciones por vivienda
7. AGE proporción de unidades ocupadas por sus propietarios construidas antes de 1940
8. DIS distancias ponderadas a cinco centros de empleo de Boston
9. RAD índice de accesibilidad a autopistas radiales
10. TAX tasa del impuesto sobre bienes inmuebles de valor íntegro por 10.000 dólares
11. PTRATIO ratio alumno-profesor por ciudad
12. B 1000(Bk - 0,63)^2 donde Bk es la proporción de negros por ciudad
13. LSTAT % estatus inferior de la población
14. MEDV Valor medio de las viviendas ocupadas por sus propietarios en 1000 $.

In [48]:
datos = pd.read_csv("housingdata.csv", sep=";")

df = pd.DataFrame(data=datos)

data = np.hstack([df.values[::2, :], df.values[1::2, :2]])
target = df.values[1::2, 2]

df.head(10)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,632,1800,2310,0,5380,65750,6520,40900,1,2960,1530,39690,498,2400
1,2731,0,7070,0,4690,64210,7890,49671,2,2420,1780,39690,914,2160
2,2729,0,7070,0,4690,71850,6110,49671,2,2420,1780,39283,403,3470
3,3237,0,2180,0,4580,69980,4580,60622,3,2220,1870,39463,294,3340
4,6905,0,2180,0,4580,71470,5420,60622,3,2220,1870,39690,533,3620
5,2985,0,2180,0,4580,64300,5870,60622,3,2220,1870,39412,521,2870
6,8829,1250,7870,0,5240,60120,6660,55605,5,3110,1520,39560,1243,2290
7,14455,1250,7870,0,5240,61720,9610,59505,5,3110,1520,39690,1915,2710
8,21124,1250,7870,0,5240,56310,10000,60821,5,3110,1520,38663,2993,1650
9,17004,1250,7870,0,5240,60040,8590,65921,5,3110,1520,38671,1710,1890

In [49]:
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,5.060000e+02,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524e+05,1136.363636,11136.778656,0.069170,5546.950593,62846.343874,6857.490119,37950.426877,9.549407,4082.371542,1845.553360,35667.403162,1265.306324,2253.280632
std,8.601545e+05,2332.245299,6860.352941,0.253994,1158.776757,7026.171434,2814.886141,21057.101266,8.707259,1685.371161,216.494552,9129.486438,714.106151,919.710409
min,6.320000e+02,0.000000,460.000000,0.000000,3850.000000,35610.000000,290.000000,11296.000000,1.000000,1870.000000,1260.000000,32.000000,173.000000,500.000000
25%,8.204500e+03,0.000000,5190.000000,0.000000,4490.000000,58855.000000,4502.500000,21001.750000,4.000000,2790.000000,1740.000000,37537.750000,695.000000,1702.500000
50%,2.565100e+04,0.000000,9690.000000,0.000000,5380.000000,62085.000000,7750.000000,32074.500000,5.000000,3300.000000,1905.000000,39144.000000,1136.000000,2120.000000
75%,3.677082e+05,1250.000000,18100.000000,0.000000,6240.000000,66235.000000,9407.500000,51884.250000,24.000000,6660.000000,2020.000000,39622.500000,1695.500000,2500.000000
max,8.897620e+06,10000.000000,27740.000000,1.000000,8710.000000,87800.000000,10000.000000,121265.000000,24.000000,7110.000000,2200.000000,39690.000000,3797.000000,5000.000000

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    int64
 1   ZN       506 non-null    int64
 2   INDUS    506 non-null    int64
 3   CHAS     506 non-null    int64
 4   NOX      506 non-null    int64
 5   RM       506 non-null    int64
 6   AGE      506 non-null    int64
 7   DIS      506 non-null    int64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    int64
 11  B        506 non-null    int64
 12  LSTAT    506 non-null    int64
 13  MEDV     506 non-null    int64
dtypes: int64(14)
memory usage: 55.5 KB

In [51]:
# Importamos el modelo de regresión lineal
from sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()

# Extraemos los atributos (X) y los valores objetivo (Y)
X = data
Y = target

# Entrenamos el modelo
lin_reg.fit(X, Y)

LinearRegression()

In [52]:
# Mostramos la predicción para un ejemplo del dataset

print(lin_reg.predict([X[10]]))

# Mostramos el valor real que tiene el inmueble en nuestro dataset
print(Y[10])

[8084.41885261]
8140

In [53]:
from sklearn.metrics import mean_squared_error

preds = lin_reg.predict(X)

# Calculamos el error medio entre las predicciones del modelo con los valores reales
mse = mean_squared_error(Y, preds)
rmse = np.sqrt(mse)
print(mse)
print(rmse)

2719948.3424404226
1649.2265891745812

In [65]:
model = LinearRegression().fit(X_train, y_train)

#mejores valores de intersección
print(model.intercept_)

#pendiente de la línea de regresión.
print(model.coef_)

-2629.1002331354575
[ 2.63792798e-05  2.69018769e-01  9.25466871e-01  5.95338470e+01
  3.02446150e-01  9.80932671e-03 -6.47119413e-02  5.90314789e-03
 -4.44030448e+01  3.82975075e-01 -1.27496510e-01 -1.18865238e-03
  1.20774973e-01  1.70583116e-01  5.10546429e-05 -3.15365021e-01]

In [68]:
#coeficiente de determinación , o R ²
print(model.score(X_train, y_train))

print(model.score(X_test, y_test))

0.9586382616853143
0.8493221631540944

In [72]:
from sklearn.ensemble import GradientBoostingRegressor

model = GradientBoostingRegressor(random_state=0).fit(X_train, y_train)

print(model.score(X_train, y_train))

print(model.score(X_test, y_test))

0.9987403084778227
0.8541327368293042

In [74]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(random_state=0).fit(X_train, y_train)

print(model.score(X_train, y_train))

print(model.score(X_test, y_test))

0.9920411379371955
0.8647637434521577

In [60]:
from sklearn.model_selection import train_test_split

# Realizamos la partición de nuestro dataset en un conjunto de entrenamiento y otro de test (20%)
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [55]:
from sklearn.svm import SVC

# Creamos el clasificador SVM lineal
classifier =  SVC()

# Realizamos el entrenamiento
classifier.fit(X_train, y_train)

# Obtenemos el accuracy de nuestro modelo para el conjunto de test
print(classifier.score(X_test, y_test))

0.37254901960784315

In [56]:
#Estandarizado de datos

from sklearn.preprocessing import StandardScaler

standard_scaler = StandardScaler()
l_values = df[['ZN']]
scaled_values = standard_scaler.fit(l_values)
print(standard_scaler.transform(l_values)[0:10])

[[ 0.28482986]
 [-0.48772236]
 [-0.48772236]
 [-0.48772236]
 [-0.48772236]
 [-0.48772236]
 [ 0.04877224]
 [ 0.04877224]
 [ 0.04877224]
 [ 0.04877224]]

In [76]:
#Dummy Classifier

from sklearn.dummy import DummyClassifier

dummy_clf = DummyClassifier(strategy="most_frequent")
dummy_clf.fit(X, Y)

print(dummy_clf.predict(X))

print(dummy_clf.score(X, Y))

[18100 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100
 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100
 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100
 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100
 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100
 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100
 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100
 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100
 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100
 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100
 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100
 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100
 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100
 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100
 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100
 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100
 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100
 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100
 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100
 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100
 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100 18100
 18100]
0.2608695652173913